repos:
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--fix]
        require_serial: true

      - id: format
        name: format
        entry: uv run ruff format
        language: system
        types: [python]
        require_serial: true

      - id: typecheck
        name: typecheck
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false
